# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
uploads/
backend/files.db

# Node / React
node_modules/
build/
dist/

# General
*.log
.DS_Store
.env
.vscode/
.idea/

# React Cache
.cache/

# Windows OS trash
Thumbs.db